*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
body {background-color: #EAEEF3;font-family: 'Roboto', sans-serif;margin: 0;}

.title {
    color: #242424;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin: 10px 0;
}

.main {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #DBE0E6;
}

.container {
    max-width: 1575px;
    margin: 0 auto;
    padding: 10px 20px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.header__left-block {}

.header__right-block {
    display: flex;
    width: 250px;
    justify-content: flex-end;
}

.header__home-icon {
    height: 20px;
    width: 20px;
    background-image: url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__lang {
    -webkit-appearance: none;
    background-image: url(img/Line.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    width: 200px;
    height: 40px;
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    padding: 5px;
}

.header__user-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #0065C1;
    background-image: url(img/User.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

.filter__row {
    display: flex;
    flex-direction: column;
}

.filter__title {
    font-size: 23px;
    line-height: 27px;
}

.filter__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 3px;

}

.filter__header {
    padding: 12px 18px;
    border-bottom: 1px solid #DBE0E6;
}

.filter__body {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
    padding: 20px;
}

.region-input {
    -webkit-appearance: none;
    background-image: url(img/Linegrey.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    width: 200px;
    height: 40px;
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    padding: 5px;
}

.text {
    font-size: 14px;
    line-height: 16px;
    color: #242424;
    margin: 5px 0;
}

.filter__block-input {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 70%;
    flex-wrap: wrap;
}

.filter__date {
    width: 340px;
}

.date-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date-block span {
    margin: 0 5px;
    fonst-size: 14px;
    line-height: 17px;
}

.filter__date input {
    border: 1px solid #D5DDEB;
    height: 40px;
    border-radius: 4px;
}

.filter__date input[type="date"]::-webkit-clear-button {}


.filter__date input[type="date"]::-webkit-inner-spin-button {
    display: none;
}


.filter__date input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('img/calendar-sharp.png') no-repeat center;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.filter__block-button {
    display: flex;
    flex: 1 1 30%;
    justify-content: flex-end;
}

.filter__input {
    flex: 1 1 200px;
}

.filter__input2 {
    flex: 1 1 200px;
}

.filter__input3 {
    flex: 1 1 200px;
}

.filter__input4 {
    flex: 1 1 200px;
}

.button {
    padding: 15px 25px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.button-grey {
    background-color: #EAEEF3;
    color: #4B4B4B;
    margin-right: 10px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

#table td {
    border: 1px solid #ddd;
    padding: 15px;
    color: #242424;
    text-align: center;
}

#table th {
    background-color: #D4D9E3;
    padding: 15px;
    color: #4B4B4B;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

#table th:first-child {
    border-top-left-radius: 5px;
}

#table th:last-child {
    border-top-right-radius: 5px;
}

#table td:first-child {
    border-bottom-left-radius: 5px;
}

#table td:first-child {
    border-left: none;
}

#table td:last-child {
    border-right: none;
}

#table tr:last-child td {
    border-bottom: none;
}

#table td:last-child {
    border-bottom-right-radius: 5px;
}


.button-blue {
    background-color: #2755BD;
    color: #fff;
    box-shadow: 0 3px 7px #91A9DE;
}

.monitoring__top-block {
    display: flex;
    justify-content: space-between;
}

.button-green {
    background-color: #14B668;
    color: #fff;
    border-radius: 6px;
    margin: 10px 10px 10px 0;
}

.monitoring__row {
    display: flex;
    flex-direction: column;
}

.monitoring__title {
    font-size: 23px;
    line-height: 27px;
}

.monitoring__block {
    background-color: #fff;
    border-radius: 5px;
}

.monitoring__diagram {
}

.monitoring__bottom-block {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px
}

.monitoring__button {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 3px;
}

.monitoring__button:before {
    content: '';
    background-image: url(img/linegraph.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: center;
}


.sidebar {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #DBE0E6;
    display: none;
}

.sidebar__link {
    width: 300px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBE0E6;
}

.sidebar__logo {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 95px;
}

.sidebar__icon-menu {
    background-image: url("img/Menu.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
}

.sidebar__text {
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 16px;
    color: #4B4B4B;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

.sidebar__icon-one {
    background-image: url("img/Monitor 2.png");
}

.sidebar__icon-two {
    background-image: url("img/Pie Chart 2.png");
}

.sidebar__icon-three {
    background-image: url("img/Settings 2.png");
}

.sidebar__icon-four {
    background-image: url("img/Window Pencil.png");
}

.sidebar__left-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 24px;
}

.sidebar__right-icon {
    background-image: url("img/Linegrey.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 5px;
    width: 10px;
}

/* chart */
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 100%;
    margin: 1em auto;
}

#container {
    height: 500px;
    border-radius: 5px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
